project/demo1/verilog/*.trace
project/demo1/verilog/*.out
project/demo1/verilog/*.img
project/demo1/verilog/*.qbd
project/demo1/verilog/*.log
project/demo1/verilog/*.qtl
project/demo1/verilog/*.qpg
project/demo1/verilog/.__*
project/demo1/verilog/archsim.out
project/demo1/verilog/archsim.ptrace
project/demo1/verilog/archsim.trace
project/demo1/verilog/diff.trace
project/demo1/verilog/dump.vcd
project/demo1/verilog/dump.wlf
project/demo1/verilog/dumpfile
project/demo1/verilog/loadfile_0.img
project/demo1/verilog/loadfile_1.img
project/demo1/verilog/loadfile_2.img
project/demo1/verilog/loadfile_3.img
project/demo1/verilog/loadfile_all.img
project/demo1/verilog/loadfile_all.img.reg
project/demo1/verilog/loadfile.lst
project/demo1/verilog/summary.log
project/demo1/verilog/transcript
project/demo1/verilog/verilogsim.log
project/demo1/verilog/__work/_lib1_0.qtl
project/demo1/verilog/__work/_lib1_0.qpg
project/demo1/verilog/__work/_lib1_0.qdb
project/demo1/verilog/__work/_lib.qdb
project/demo1/verilog/__work/_info
project/demo1/verilog/verilogsim.trace
project/demo1/verilog/verilogsim.log
project/demo1/verilog/archsim.out
project/demo1/verilog/archsim.out
project/demo1/verilog/archsim.ptrace
